body {
}

.navbar {
    position: relative;
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 22px;
}

.navbar .nav > li > a {
    font-size: 14px;
}

ul.nav.navbar-nav.navbar-right > ul > li a {
    text-transform: none;
}

#login-form legend, #register-form legend, #add-project-form legend, #edit-project-form legend {
    font-weight: 600;
    color: #325d88;
}

#login-form button,
#register-form button,
#change-password-form button,
#change-password-form a,
#add-project-form button,
#add-project-form a,
#edit-project-form button,
#edit-project-form a {
    width: 49%;
    margin-left: 0.2%;
    font-size: 1em;
}

#add-project-form div label, #edit-project-form div label {
    text-align: left;
}

div.well.bs-component {
    background-color: #eee;
}

table > tbody > tr > td > a {
    float: right;
}

#issuesTable > tbody > tr > td > a {
    float: left;
}

#issuesTable .issueTitle {
    color: #3e3f3a;

}

#projectsTable > tbody > tr > td {
    color: #79a736;
}

table > tbody > tr > td {
    font-weight: 900;
    font-size: 1.1em;
}

table > thead > tr > th {
    font-size: 1.3em;
}

.btn-sm {
    padding: 2px 30px;
}

.navbar-right > ul > li:first-child > a {
    color: #8fbaf7;
}









