<div ng-if="!authenticationService.isLoggedIn()" class="user-area">
    <div class="col-lg-6 ">
        <div class="well bs-component">
            <form class="form-horizontal" name="login-form" id="login-form">
                <legend>Login</legend>
                <div class="form-group">
                    <label for="username" class="col-lg-2 control-label">E-mail</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="username" placeholder="Username" required="required"
                               ng-model="loginUser.username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="password" placeholder="Password"
                               required="required"
                               ng-model="loginUser.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary" ng-click="login(loginUser)">Login</button>
                        <button type="reset" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="well bs-component">
            <form class="form-horizontal" name="register-form" id="register-form">
                <legend>Register</legend>
                <div class="form-group">
                    <label for="register-email" class="col-lg-2 control-label">E-mail</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="register-email" placeholder="E-mail"
                               ng-model="registerUser.email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="register-password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="register-password" placeholder="Password"
                               required="required"
                               ng-model="registerUser.password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="register-password-confirm" class="col-lg-2 control-label">Confirm Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="register-password-confirm"
                               placeholder="Confirm Password"
                               required="required"
                               ng-model="registerUser.confirmPassword">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary" ng-click="register(registerUser)">Register
                        </button>
                        <button type="reset" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div ng-if="authenticationService.isAdmin()">
    <p>Hi. admin</p>
    <a href="#/projects/add" class="btn btn-lg btn-success">Add New Project</a>
</div>


<div ng-if="authenticationService.isLoggedIn()">
    <div class="navbar navbar-inverse">
        <div class="navbar-brand">Dashboard</div>
    </div>
    <h3>Projects Affiliated To You</h3>

    <div ng-controller="ProjectsController">
        <div class="col-lg-6">
            <table class="table table-striped table-hover ">
                <h4>You are Project Leader in:</h4>
                <tr>
                    <th>Project</th>
                </tr>
                <tr ng-repeat="project in userLeadProjects">
                    <td ng-if="project.Lead.Username == authenticationService.getCurrentUser().userName" class="info">
                        {{project.Name}}
                        <a href="#/projects/{{project.Id}}/add-issue" class="btn btn-default btn-sm">Add Issue</a>
                        <a href="#projects/{{project.Id}}" class="btn btn-primary btn-sm">View</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-controller="IssuesController">
        <div class="col-lg-6">

            <table class="table table-striped table-hover ">
                <h4>Issues assigned to You:</h4>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Project</th>
                    <th>Due Date</th>
                </tr>
                <tr ng-repeat="issueData in userIssues">
                    <td class="info">
                        <a href="#/issues/{{issueData.Id}}">
                            {{issueData.Title}}
                        </a>
                    </td>
                    <td class="info">
                        {{issueData.Description}}
                    </td>
                    <td class="info">
                        <a href="#/projects/{{issueData.Project.Id}}">
                            {{issueData.Project.Name}}
                        </a>
                    </td>
                    <td class="info">
                            {{issueData.DueDate}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

