<div class="col-lg-6 ">
    <div class="well bs-component">
        <form class="form-horizontal" name="login-form" id="login-form">
            <legend>Login</legend>
            <div class="form-group">
                <label for="username" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="username" placeholder="Username" required="required"
                           ng-model="loginUser.username">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           required="required"
                           ng-model="loginUser.password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary" ng-click="login(loginUser)">Login</button>
                    <button type="reset" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="col-lg-6">
    <div class="well bs-component">
        <form class="form-horizontal" name="register-form" id="register-form">
            <legend>Register</legend>
            <div class="form-group">
                <label for="register-username" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="register-username" placeholder="Username"
                           required="required"
                           ng-model="registerUser.username">
                </div>
            </div>
            <div class="form-group">
                <label for="register-password" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="register-password" placeholder="Password"
                           required="required"
                           ng-model="registerUser.password">
                </div>
            </div>
            <div class="form-group">
                <label for="register-password-confirm" class="col-lg-2 control-label">Confirm Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="register-password-confirm"
                           placeholder="Confirm Password" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="register-name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="register-name" placeholder="Name"
                           ng-model="registerUser.name">
                </div>
            </div>
            <div class="form-group">
                <label for="register-email" class="col-lg-2 control-label">E-mail</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="register-email" placeholder="E-mail"
                           ng-model="registerUser.email">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">Gender</label>
                <div class="col-lg-10">
                    <div class="radio">
                        <label>
                            <input type="radio" checked="checked" name="gender" value="1"
                                   ng-model="registerUser.gender">Male
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" value="2" ng-model="registerUser.gender">Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary" ng-click="register(registerUser)">Register</button>
                    <button type="reset" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>